@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #aaa;
}

::-webkit-scrollbar-thumb {
	background: #d6d3d1;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #e7e5e4;
}
